html,
body {
  background-color: #000000;
  color: #313131;
  margin: 0;
  padding: 0;
  height: 100%;
}

th {
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
}

#root {
  height: 100%;
}

.cover {
  background-image: url("../img/rampage.jpg");
  background-size: cover;
  padding: 210px 0;
  box-shadow: 1px 1px 3px #000000;
}

.cover-b {
  text-align: left;
  color: #fff;
}

.coverMovie {
  background-size: cover;
  padding: 100px 0px 0px 0px; 
  box-shadow: 1px 1px 3px #000000;
}

.coverMovie-b {
  text-align: left;
  color: #fff;
}

.cartaz-main {
  width: 220px;
  overflow: hidden;
}

.cartaz {
  width: 220px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; 
  -ms-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
  transition: all 0.3s ease;
}

.cartaz:hover {
  cursor: pointer;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
   transform:scale(1.1);
}

.activeLink {
  color: #9A1D1D !important;
  font-weight: 600 !important;
}

#tblSessoes {
  padding: 0 20px 0 0;
  max-height: 500px;
  overflow-y: auto;
}

#tblSessoes::-webkit-scrollbar-track
{
  border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#tblSessoes::-webkit-scrollbar
{
  border-radius: 5px;
	width: 12px;
	background-color: #F5F5F5;
}

#tblSessoes::-webkit-scrollbar-thumb
{
  border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #9C9C9C;
}